html body {
    height: 100%;
    margin: 0;
    padding: 0;
    position:fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.container {
    height: 100%;
    text-align: center;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 5fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "area1 area2"
    "area3 area3";
}

.Box {
    background-color: white;
    border-radius: 10px 10px 10px 1p0x;
    padding: 5px;
}

.area1 { 
    grid-area: area1;
    background: url("images/kitchen-1b.jpg");
    background-repeat: no-repeat;
  /* background-attachment: fixed; */
    background-size: 100% 100%;
    padding: 15px;
}

.area1 > img {
    width: 310px;
    background-color: rgb(255, 253, 124) ;
    border-radius: 10px 10px 10px 10px;
    border: 2px solid black;
    padding: 5px;
}

.area2 { 
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: flex-start;
    align-items: flex-end;
    /* grid-area: area2; */
    background: url("images/kitchen-2b.jpg");
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-size: 100% 100%;
}

.area3 { 
    grid-area: area3;
    /* background-color: blue; */
    background: url("images//old-wood.jpg") no-repeat;
    background-size: 100% 100%;
    padding: 15px;
}

#inner {
    width: 55%;
    margin-left: 80px;
}

.area3 > button > img {
    height: 100%;
}

.bunTop {
    height: 80px;
    /* background-color: brown; */
}
.bunTop > img {
    width: 100%;
    height: 100%;
}

.bunBottom {
    height: 30px;
    /* background-color: brown; */
}
.bunBottom > img {
    width: 100%;
    height: 100%;
}

.Ketchup {
    height: 15px;
    /* background-color: brown; */
}
.Ketchup > img {
    width: 100%;
    height: 100%;
}

.Meat {
    height: 45px;
    /* background-color: brown; */
}
.Meat > img {
    width: 100%;
    height: 100%;
}

.Cheese {
    height: 15px;
    /* background-color: brown; */
}
.Cheese > img {
    width: 100%;
    height: 100%;
}

.Tomato {
    height: 16px;
    /* background-color: brown; */
}
.Tomato > img {
    width: 100%;
    height: 100%;
}

.Onion {
    height: 16px;
    /* background-color: brown; */
}
.Onion > img {
    width: 100%;
    height: 100%;
}

.Lettuce {
    height: 30px;
    /* background-color: brown; */
}
.Lettuce > img {
    width: 100%;
    height: 100%;
}

.area3 > button > h3 {
    display: inline-block;
    color: white;
    font-weight: bold;
}

.area3 > button{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden; 
    height: 50px;
}